In [1]:

# 01_setup_and_cleaning.ipynb

import pandas as pd
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)

# Load dataset
df = pd.read_csv("../data/customer_churn.csv")

# Quick look
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,weekly_active_days,avg_session_time,features_used,usage_growth_rate,last_login_days_ago,monthly_fee,total_revenue,payment_method,payment_failures,discount_applied,price_increase_last_3m,support_tickets,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,7,11.762372,5,0.06,7,30,660,PayPal,1,Yes,No,4,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,5,26.846390,1,-0.28,2,30,270,Card,1,No,Yes,1,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,5,23.380065,6,0.13,23,20,1160,Card,2,No,No,1,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,7,24.243136,2,-0.17,24,30,570,Bank Transfer,0,Yes,No,3,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,6,18.872323,2,-0.16,2,50,2600,PayPal,0,No,No,0,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [2]:
# Basic structure
df.shape
df.info()
# Missing values check
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  object
 1   gender                  10000 non-null  object
 2   age                     10000 non-null  int64
 3   country                 10000 non-null  object
 4   city                    10000 non-null  object
 5   customer_segment        10000 non-null  object
 6   tenure_months           10000 non-null  int64
 7   signup_channel          10000 non-null  object
 8   contract_type           10000 non-null  object
 9   monthly_logins          10000 non-null  int64
 10  weekly_active_days      10000 non-null  int64
 11  avg_session_time        10000 non-null  float64
 12  features_used           10000 non-null  int64
 13  usage_growth_rate       10000 non-null  float64
 14  last_login_days_ago     10000 non-null  int64
 15  monthly_fee             10000 non-null  int64
 16  total_revenue           10000 non-null  int64
 17  payment_method          10000 non-null  object
 18  payment_failures        10000 non-null  int64
 19  discount_applied        10000 non-null  object
 20  price_increase_last_3m  10000 non-null  object
 21  support_tickets         10000 non-null  int64
 22  avg_resolution_time     10000 non-null  float64
 23  complaint_type          7955 non-null   object
 24  csat_score              10000 non-null  float64
 25  escalations             10000 non-null  int64
 26  email_open_rate         10000 non-null  float64
 27  marketing_click_rate    10000 non-null  float64
 28  nps_score               10000 non-null  int64
 29  survey_response         10000 non-null  object
 30  referral_count          10000 non-null  int64
 31  churn                   10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [3]:
# Create churn label for readability
df['churn_label'] = df['churn'].map({0: 'No', 1: 'Yes'})

df['churn_label'].value_counts()

churn_label
No     8979
Yes    1021
Name: count, dtype: int64

In [ ]:
# Save cleaned base dataset 
df.to_csv("../data/customer_churn_cleaned.csv", index=False)